@model IEnumerable<WebSiteBookTimeMVC.Models.Book>

@{
    ViewData["Title"] = "ArtBook";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/flexslider.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui1.css" rel="stylesheet" />
<link href="~/css/shop.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/swipebox.css" rel="stylesheet" />
<link href="~/css/jquery-ui1 - Copier.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="banner"></div>
<!-- product right -->
<!-- gallery -->
<div class="gallery">
    <div class="container">
        <h3 class="title-txt"><span>O</span>ur BookShop</h3>
        <div class="container" style="width:200px;height:60px;position:absolute;">
            <h2 style="text-align:left;color:#040a2e;font-size:30px;">Filter By</h2><br />
            <ul class="list-group" style="width:250px; font-size:20px;">
                <li class="list-group-item active" style="font-size:25px;background-color:yellowgreen;border-color:yellowgreen;">Category</li>
                <li class="list-group-item" style="font-size:20px;color:#0b102b;">@Html.ActionLink("All", "AllBook", "Books")</li>
                <li class="list-group-item" style="font-size:20px;color:#0b102b;">@Html.ActionLink("Art", "ArtBook", "Books")</li>

            </ul>
            <ul class="list-group" style="width:250px; font-size:25px;">
                <li class="list-group-item active" style="font-size:20px;background-color:yellowgreen;border-color:yellowgreen;">Price</li>
                <li class="list-group-item" style="font-size:20px;color:#0b102b;">@Html.ActionLink("Price Top", "AllBook", "Books")</li>
                <li class="list-group-item" style="font-size:20px;color:#0b102b;">@Html.ActionLink("Price Down", "ScienceBook", "Books")</li>
            </ul>
        </div>

        <div class="container" style="margin-left:350px;width:800px;">
            @foreach (var item in Model)
            {
                <div class="gallery_gds">
                    <div class="col-md-3 col-sm-6 thumbnail team-w3agile">
                        <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" class="img-responsive" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <h4> @Html.DisplayFor(modelItem => item.Name)</h4>
                                <p>@Html.DisplayFor(modelItem => item.Price)$</p>
                            </div>
                            <div class="w3ls-social-icons">
                                <a class="facebook" asp-action="ShowBook" asp-route-id="@item.Id"><span class="fa fa-eye"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>



        </div>
    </div>
</div>
